@import "classes.css";
@import "columns.css";
@import "fa.css";

@media screen and (max-width: 992px) {
}
@media screen and (min-width: 768px) {
    body { float: left;}
}
@media screen and (min-width: 600px) {
    body { min-width: 25%;}
}
body {
    font-family: Arial;
    padding: 20px;
    background: #f5fffa;
}
p {
    color: #333333;
}
button {
    display: grid;
    -ms-grid-column-align: stretch;
}
li {
    float: bottom;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: darkred;
}
.titleauthor {
    color: #333333;
}
/* Nav Bar */
ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}